{% extends './base.html' %}
{% block site_title %}About Me{% endblock site_title %}
{% block nav %}{% include './nav.html' %}{% endblock nav %}
{% block index_nav %}{% endblock index_nav %}
{% block content %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About Amr</h1>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>My Story</h3>
                  <p>Hello, I'm Amr Alsabahi, a Python learner. Currently looking for an internship that would solidfy my Python understanding.
I am very eager to learn new knowlege about technology, but I do believe that finding the right mentor will be a crucial decision. If you are looking for
someone who can go above and beyond, you've come to the right place! It's not about who can memorize syntaxes, it is about who understands the big picture. Contact me now and send your information to my humble database!</p>
<!--                  <h3>Ut enim ad minim </h3>-->
<!--                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
<!--                  <h3>Maecenas luctus at sem quis varius</h3>-->
<!--                  <p>-->
<!--                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>-->
<!--                </div>-->
                <div class="col-xs-12 col-md-6">
                  <img src="./assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<!--        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>-->
      </div>
    </div>
  </div>
</footer>
{% endblock content %}