{% extends './base.html' %}
{% block site_title %}Welcome{% endblock site_title %}
{% block nav %}{% endblock nav %}
{% block index_nav %}{% include './index_nav.html' %}{% endblock index_nav %}
{% block content %}
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-15">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Amr Alsabahi</span>
                  <span>I Want To Make The World A Better Place</span>
                  <span>Is that an impossible thing to ask?</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
