{% extends './base.html' %}
{% block site_title %}My Projects{% endblock site_title %}
{% block nav %}{% include './nav.html' %}{% endblock nav %}
{% block content %}
    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                    <div class="text-center">
                        <h1 class="h2">My Projects</h1>
                        <p>Password Security Strength Examaniation! In the "password" field, you can go ahead and check if your password has been breached!This test will tell you the number of times someone has figured out your password!</p>
                    </div>
                </div>
                <div class="section-container">
                    <div class="container">
                        <div id="searchContainer" class="secondaryHeader">
                            <div class="container">
                                <form action="/Passwords" method="post">
                                    <div class="input-group">
                                        <input autocapitalize="off" autocorrect="off" class="form-control" data-val="true" data-val-maxlength="The field Password must be a string or array type with a maximum length of '450'." data-val-maxlength-max="450" data-val-minlength="The field Password must be a string or array type with a minimum length of '1'." data-val-minlength-min="8" id="Password" minlength="8" maxlength="450" name="Password" placeholder="password" spellcheck="false" type="password">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-lg" type="submit" id="searchPwnedPasswords">Breached?</button>
                                        </span>
                                    </div>
                                </form>
                                <div class="col-md-12">
                                    <div id="myCarousel" class="carousel slide projects-carousel">
                                        <p>Guessing Time! Here, you will play a little game. Go ahead and guess a number from 1-10 and see if you can guess it right :)</p>
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div>
                                                            <form action="/Guess_me" method="post">
Enter it: <input type="number" minlength="1" id= "hi" name="guesser" min="1" max="10">
<!--<input type="text" name="guesser"><br>-->
                                                            <button type="submit"  id= "hime" value="Submit">Guess Me</button>
                                                            </form>
                                                            </div>
{% endblock content %}
